<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Anime Player - A Free Anime Watching Site built by Anime Loves for Anime Lovers">
    <meta name="description" content="<%=video.DescripTion %> ">
    <meta name="keywords" content="<% video.Genres %> ">
    <title>AniPub | <%=video.Name %> </title>
    <link rel="stylesheet" href="/second-section.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="/first-section.css">
    <link rel="stylesheet" href="/third-section.css">
    <link rel="stylesheet" href="/info-container.css">
    <link rel="stylesheet" href="/media2-styles.css">
    <link rel="stylesheet" href="/media-styles.css">
    <link rel="stylesheet" href="/videoPlayerHeader.css">
    <link rel="stylesheet" href="/body-scrollbar.css"> 
    <link rel="stylesheet" href="/Footer.css">
 
</head>
<body style="position: relative;">


    
    <%- include("./include/aniHeader.ejs") %> 



    <div class="first-section">
        <div class="cover-pic-div">
            <img class="cover-pic" src="/<%=video.Cover%>">
        </div>
       <div class="Container-No1">
        <div class="video-player-box">
            <% if(video.type === "iframe") {%>
                <% if(Number(AniEP) === 0 ) {%> 
                <iframe  <%=video.link%> sandbox="allow-same-origin allow-scripts"  
      scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" allowfullscreen style="height:100%;width: 100%;"></iframe>
               <% } else { %>
                <% const Episode = Number(AniEP) - 1 %> 
                <iframe  <%=video.ep[Episode].link%> sandbox="allow-same-origin allow-scripts"   scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" allowfullscreen  style="height:100%;width: 100%;"></iframe>
               <%}%>
                <% } else {%> 
            <video  id="my-video"
            class="video-js vjs-matrix video-player "
            controls
            autoplay
            preload="auto"
            data-setup="{}">
            <% if(video.type === "mp4") {%> 
                <% if(Number(AniEP) === 0 ) {%> 
                <source src="/<%=video.link%>" type="video/mp4">
                    <% } else { %> 
                         <% const Episode = Number(AniEP) - 1 %> 
                      <source src="/<%=video.ep[Episode].link%>" type="video/mp4">
        <% } %> 
        
                <% } else { %>
                      <% if(Number(AniEP) === 0 ) {%> 
              <source src="<%=video.link%>" type="video/mp4">
                        <% } else {%> 
                               <% const Episode = Number(AniEP) - 1 %> 
                            <source src="<%=video.ep[Episode].link%>" type="video/mp4">
                            <% } %> 
            <% } %>  
        </video>
    <script src="/videoPlay.js"></script>

        <% } %> 
        </div>
        <div class="Ep-section">
            <div class="Ep-list-title"> Next EP:-</div>
            <div class="list-div-container">
                <div class="list"  >
                        <div class="li-fs" data-ep="0">
                        <div class="img-div">
                        <img src="/<%= video.ImagePath %> " alt="">
                        </div>
                        <div class="ep-title">
                        <p><%= video.name%> No.1 </p>
                        </div>
                        </div>
                        
                        <div class="list-button-container">
                            <div class="add-button-div">

                             <button class="Add-button" data-anime-w-id="<%=AniId+1%>" data-anime-w-eid="0" data-animelink="AniPlayer/<%=AniId + 1%>/<%=AniEP -1 %>">Add</button>
                           
                        </div>
                        </div>

                        
                        </div>
              <% if (video.ep.length >0){ %> 
                <% video.ep.forEach((value,i) => { %>
                        <div class="list"  >
                        <div class="li-fs" data-ep="<%=i+1%>"  >
                        <div class="img-div">
                        <img src="/<%= video.ImagePath %> " alt="">
                        </div>
                        <div class="ep-title">
                        <p><%= video.ep[i].name%> No.<%= i+2 %></p>
                        </div>
                        </div>
                        
                        <div class="list-button-container">
                            <div class="add-button-div">

                             <button class="Add-button" data-anime-w-id="<%=AniId+1%>" data-anime-w-eid="<%=i+1%>" data-animelink="AniPlayer/<%=AniId+1%>/<%=AniEP%>">Add</button>
                           
                        </div>
                        </div>

                        
                        </div>
               <% }); %> 
             <% }; %>    
            </div>
        </div>
       </div>
    </div>



    <div class="surer-div">
    <div class="Second-Section">
        <div class="profile-container">
        <div class="profile-div">
            <img class="poster"  alt="" src="/<%=video.ImagePath%>">
        <div class="buttons">

            <button class="Play-button">
                <img src="/play-svgrepo-com.svg" alt="Download Image">
            </button>
            <div class="button-div-download">
                   <% if(video.type === "mp4") {%> 
                <a download href="/<%=video.link%>">
                    <% } else { %>
                        <a download href="<%=video.link%>"></a>
                        <% } %> 
                    <button class="Download-Button" >
                    <img src="/Download.svg" alt="">
                    <p>Download</p>
                </button>
                </a>
            </div>
            
            
            

            <button class="Add-to-watchlist-button" data-animelink="https://anipub.adnandluffy.site/AniPlayer/<%=AniId%>/0">
                <img src="/plus-large-svgrepo-com.svg" alt="">
                <p>Add to Watchlist</p>
            </button>
        </div>
        </div> 
        
        
        
        
        <div class="Info-container">
            <div class="Detailes">
                <p class="Name">Name:<span class="name"><%=video.Name%></span></p>
                <p>Synonyms: <span class="Synonyms"><%=video.Synonyms%></span></p>
                <p>Aired:<span class="Aired"><%=video.Aired%></span></p>
                <p>Premiered:<span class="Premiered"><%=video.Premiered%></span></p>
                <p>Duration:<span class="Duration"><%=video.Duration%></span></p>
                <p>Status:<span class="Status"><%=video.Status%></span></p>
                <p>MAL Score:<span class="mALScore"><%=video.MALScore%></span></p>
                <p>Genres:<span class="Genres"><%=video.Genres%></span></p>
                <p>Studios: <span class="Studios"><%=video.Studios%></span></p>
                <p>Producers:<span class="Producers"><%=video.Producers%></span></p>
            </div>


            <div class="Description-container">
                <div class="des-div-s-div">
                    <p class="Des-title">Description:</p>
                    <button class="Share-button">
                        <img src="/Share.svg" alt="">
                        
                    </button>
                
                </div>
                
                <div class="Description-div">
                    <p class="Description"><%=video.DescripTion%></p>
                </div>
            </div>
            
        </div>
        
    
    </div>



       

    </div>
    <div class="Marker">
        Marker
    </div>
</div>


<div class="third-section">


   

    
    <div class="recommendation-main">
        <div class="recommendation-div">
            <% if (AniDB.length > 0) {%>
                <% AniDB.forEach((value,i) => { %>
                 <div class="Profile-div">
                        <div class="Profile" data-anime="<%=value._id%>">
                        <div class="Image-div">
                            <img class="poster" src="/<%=value.poster%>" alt=`${value.Name} Poster`>
                        </div>
                        <div class="Title-div"><p class="Title"><%=value.Name%></p></div>
                        <div class="ratings-div">
                            <p class="mal-score"><%=value.MALScore%></p>
                            <img src="/rating-<%=value.RatingsNum%>.png" alt="">
                        </div>
                        <div class="des-div">
                            <p class="des">
                            <%=value.DescripTion%>
                            </p>
                        </div>
                    </div>
                   
                </div>
             <%  }); %> 
            <% } %>     
        </div>
        <div class="recommendation-title">
            Recommendations
        </div>
    </div>





</div>


<!-- Discuss -->
<div id="disqus_thread" style="margin-top: 60px;"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    
    var disqus_config = function () {
    this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://anipub.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<div class="modal-container">
    <div class="Box-modal">
        <div>
            <p class="anamemodal">Name: <span><%=video.Name%></span></p>
        </div>
        <div>
            <p class="epno">Ep No. <%=AniEP+1%></p>
        </div>
        <div class="link-constainer">
            <p>https://anipub.adnandluffy.site/AniPlayer/<%=AniId+1%>/<%=AniEP%></p>
        </div>
        <div class="share-media-div">
            <p class="sn">Share Now:-</p>
            <div class="options-div">
                <div class="opt-div">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://anipub.adnandluffy.site/AniPlayer/<%=AniId+1%>/<%=AniEP%>&quote=Hello,%20this%20%20awesome%20episode%20 target="_blank">
                        <button class="shared-button-m">
                    <img src="/fb.svg" alt="">
                    </button>
                    </a>
                    
                    <p class="b-title">Facebook</p>
                </div>

                <div class="opt-div">
                    <a href="https://api.whatsapp.com/send?text=Hello,%20this%20awesome%20episode%20..%20https://anipub.adnandluffy.site/AniPlayer/<%=AniId%>/<%=AniEP%>" target="_blank">
                        <button class="shared-button-m">
                    <img src="/WhatsApp.svg" alt="">
                    </button>
                    </a>
                    
                    <p class="b-title">WhatsApp</p>
                </div>

                <div class="opt-div">
                    <a href="https://t.me/share/url?url=https://anipub.adnandluffy.site/AniPlayer/<%=AniId+1%>/<%=AniEP%>&text=Hello,%20this%20awesome%20episode%20.." target="_blank">
                         <button class="shared-button-m">
                    <img src="/telegram.svg" alt="">
                    </button>
                    </a>
                   
                    <p class="b-title">Telegram</p>
                </div>
               
            </div>
        </div>
        <p class="last-msge">All videos on this site are hosted on third
            party website so
            there may be some bugs or broken links.. and you can also report it to us 
            here's our contact info:- 
        </p>
        <div class="button-container-modal">
        <a target="_blank" href="https://github.com/Adnan-D-Luffy/"><button class="Git-buttonM">
            <img class="git-im" src="/github.svg" alt="">
            Githhub
        </button></a>
     <a target="_blank" href="https://www.facebook.com/adnandluffy.atomic">   <button class="fb-bM">
            <img  class="f-p" src="/fb.svg" alt="">Facebook
        </button> </a>
        </div>
        
        <div class="wmdiv"><p class="Wm">Do you want to leave this ?</p> </div>
          
        <div class="lbm"><button class="leave">Yes</button><button class="stay">No</button></div>
    </div>
</div>




    <script id="dsq-count-scr" src="//anipub.disqus.com/count.js" async></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script src="/Changer-AniPlayer.js"></script> 
   
    <script src="/dialog.js"></script>

   
    <script src="/upDate-playlist.js"></script>
    <script src="/home.js"></script>
    <script src="/playList-Up.js"></script>
    <script src="/ANiPlayer-render.js"></script> 
    <script src="/play.js">
       
    </script>
    <%- include("./include/footer.ejs") %> 
</body>
</html>