<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant Premium</title>
    <link rel="stylesheet" href="/grant.css">
</head>
<body>
  
   <main>
      <input type="text" placeholder="Profile ID">
      <div class="Container">
         <% if (userData.length > 0) { %>
              <% userData.forEach(element => { %>
                <div class="Profile" data-value="<%=element._id%>">
        <div><img data-image="<%=element._id%>" src="/Shinbou.jpg" alt=""></div>
        <div>
             <h3><%=element.name%></h3>
             <p>
                <span>Phone:0<%=element.number%></span>
                <a href="/Profile/<%=element._id%>"><span>ID:<%=element._id%></span></a>
                <span>Trx:<%=element.trxID%></span>
                <span>Email:<%=element.email%> </span>
                <span>Codes:
                  <% element.codes.forEach(value=>{ %>
                     <%=value%> 
                 <% }) %> 
                </span>
             </p>
             <% if(element.grant === "Yes") { %>
                 <button class="grant revoke" data-type="revoke" data-value="<%=element._id%>">Revoke</button>
               <% } else { %>  
             <button class="grant" data-type="grant" data-value="<%=element._id%>">Grant</button>
                  <% } %> 
            </div>
    </div>
            <%  }); %> 
            <% } else if (userData.number === "") { %>
                 <div class="Profile" data-value="<%=userData._id%>">
        <div><img data-image="<%=userData._id%>" src="/Shinbou.jpg" alt=""></div>
        <div>
             <h3><%=userData.name%></h3>
             <p>
                <span>Phone:0<%=userData.number%></span>
                <a href="/Profile/<%=userData._id%>"><span>ID:<%=userData._id%></span></a>
                <span>Trx:<%=userData.trxID%></span>
                <span>Email:<%=userData.email%> </span>
                <span>Codes:
                  <% if (userData.codes) {%>
                      <% userData.codes.forEach(value=>{ %>
                     <%=value%> 
                 <% }) %> 
                  <%} %> 
                 
                </span>
             </p>
                <% if(element.grant === "Yes") { %>
                 <button class="grant revoke" data-type="revoke" data-value="<%=userData._id%>">Revoke</button>
               <% } else { %>  
             <button class="grant" data-type="grant" data-value="<%=userData._id%>">Grant</button>
                  <% } %> 
            </div>
    </div>
           <%  }  else {%>
            <h1>You don't have any subscriber yet</h1>
            <% } %> 
         


      </div>
   
   </main>
   <script>
      const profile = document.querySelectorAll(".Profile")
      const img =  document.querySelectorAll(`img`);
      if(profile) {
         profile.forEach((value,i)=>{
            const id = value.dataset.value ;
            fetch(`/Pr/Photo/${id}`)
            .then(response=>response.json())
            .then(info=>{
               const Info = JSON.parse(info)
               if(Info.gender === "Male") {
                  img[i].src = `/ProfilePic/boys/${Info.Image}`
               }else {
                   img[i].src = `/ProfilePic/${Info.Image}`
               }
            })


         })
      }
   </script>
   <script src="/Grant.js"></script>
</body>
</html>