<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayList | AniPub</title>
    <link rel="stylesheet" href="/hc.css">
    <link rel="stylesheet" href="/profile.css">
    <meta name="description" content="Play List Page A Free Anime Watching Site built by Anime Loves for Anime Lovers">

    <link rel="stylesheet" href="/WatchList.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/ScrollBar.css">
</head>
<body>

    <%- include("./include/header.ejs")  %> 
    <%- include("./include/nav.ejs") %> 
      



        <div class="main-body">

            <% if( List.length > 0 ) {%> 
                <%List.forEach((value,i)=>{%>
                    
                    <div class="Profile-div" data-anime="<%=value.AniID%>" data-ep="<%=value.AniEP%>">
                        <div class="Poster-div">
                            <img class="Poster" src="/<%=AniDB[i].ImagePath%>" alt="">
                        </div>
                        <div class="Info-div">
                           <p class="name">Name: <span><%=AniDB[i].Name%></span></p>
                            <p>Adding Time:<span class="Added-Time"><%=value.Date%></span></p>
                            <div class="ratings-div">
                                <p>MAL Score:<span class="mALScore"><%=AniDB[i].MALScore%></span></p>
                                <img src="/rating-<%=AniDB[i].RatingsNum%>.png" alt="">
                            </div>
                            
                            <p>Studios: <span class="Studios"><%=AniDB[i].Studios%></span></p>
                            <p>Genres:<span class="Genres"><%=AniDB[i].Genres%></span></p>
                            <div class="epconfig">
                             <p>Starting Ep: <span><%=Number(value.AniEP)+1%></span></p>  
                             <p>Total Ep:<span class="totalEp"><%=AniDB[i].ep.length +1%>
                             </span></p>
                            </div>
                           
                            <div class="remove-button-div">
                              
                                <button class="remove-button"  data-del="<%=value.id%>">Remove From List</button>
                              
                            </div>
                        </div>
                    </div>
        
                  

               <% })%>    
            <%} else {%>
           <h1 class="Warning">Please Add One before Seeing one</h1>
            <%}%>    

        </div>




      
      <script src="/navigator.js"></script>
      <script src="/deleteList.js"></script> 
    </body>
</html>