<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniPub</title>
    <meta name="description" content="Watch all <%= query %> related anime on anipub ">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/third-section.css">
    <link rel="stylesheet" href="/home-main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Footer.css">

</head>

<body style="padding-top: 70px; height: 100%;"> <!--onload="CheckAuth();"-->

    <%- include("./include/haHeader.ejs") %>
    <div class="secoNd-Section" >

        <div class="aniLists">

            <div class="recents">
                <div class="ntg"></div>
                <p>
                    Search Result for query {<%=query%>}:-
                </p>
            </div>
            <% if(Anime.length>0) { %> 
            <% Anime.forEach(value => {%>
            <div class="Profile-div">
                <div class="Profile" data-anime="<%=value._id%>">
                    <div class="Image-div">
                          <% const POSTER = value.ImagePath;
                            const POSTERARY = POSTER.split("https://");
                            let LINKU = "";
                            if(POSTERARY.length > 1){
                                LINKU = "https://" + POSTERARY[1]; 
                            }
                            else {
                                 LINKU= "/"+POSTERARY[0]
                            }
                        %>
                        <img class="poster" src="<%=LINKU%>" alt="<%=value.Name%> Anime Poster">
                    </div>
                    <div class="Title-div">
                        <p class="Title"><%=value.Name%></p>
                    </div>
                    <div class="ratings-div">
                        <p class="mal-score"><%=value.MALScore%></p>
                        <img style="width: 90px;" src="/rating-<%=value.RatingsNum%>.png" alt="Rating Star Image">
                    </div>
                    <div class="des-div">
                        <p class="des">
                            <%=value.DescripTion%>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
            <% } else { %> 
                <h1>There is No Genre Result Found in the DataBase</h1>
                <% } %> 
        </div>







    </div>

    <div style="width: 100%;">
    <link rel="stylesheet" href="/genreSearch.css">
         <div class="genre-list">
        
                            <span class="genre action" data-genre="action">Action</span>
                            <span class="genre adventure" data-genre="adventure">Adventure</span>
                            <span class="genre comedy" data-genre="comedy">Comedy</span>
                            <span class="genre drama" data-genre="drama">Drama</span>
                            <span class="genre fantasy" data-genre="fantasy">Fantasy</span>
                            <span class="genre sci-fi" data-genre="sci-fi">Sci-Fi</span>
                            <span class="genre mecha" data-genre="mecha">Mecha</span>
                            <span class="genre mystery" data-genre="mystery">Mystery</span>
                            <span class="genre psychological" data-genre="psychological">Psychological</span>
                            <span class="genre slice-of-life" data-genre="slice-of-life">Slice of Life</span>
                            <span class="genre romance" data-genre="romance">Romance</span>
                            <span class="genre supernatural" data-genre="supernatural">Supernatural</span>
                            <span class="genre horror" data-genre="horror">Horror</span>
                            <span class="genre sports" data-genre="sports">Sports</span>
                            <span class="genre martial-arts" data-genre="martial-arts">Martial Arts</span>
                            <span class="genre historical" data-genre="historical">Historical</span>
                            <span class="genre samurai" data-genre="samurai">Samurai</span>
                            <span class="genre school" data-genre="school">School</span>
                            <span class="genre music" data-genre="music">Music</span>
                            <span class="genre isekai" data-genre="isekai">Isekai</span>
                            <span class="genre post-apocalyptic" data-genre="post-apocalyptic">Post-Apocalyptic</span>
                            <span class="genre cyberpunk" data-genre="cyberpunk">Cyberpunk</span>
                            <span class="genre steampunk" data-genre="steampunk">Steampunk</span>
                            <span class="genre military" data-genre="military">Military</span>
                            <span class="genre police" data-genre="police">Police</span>
                            <span class="genre thriller" data-genre="thriller">Thriller</span>
                            <span class="genre game" data-genre="game">Game</span>
                            <span class="genre cooking" data-genre="cooking">Cooking</span>
                            <span class="genre parody" data-genre="parody">Parody</span>
                            <span class="genre kids" data-genre="kids">Kids</span>
                            <span class="genre shounen" data-genre="shounen">Shounen</span>
                            <span class="genre shoujo" data-genre="shoujo">Shoujo</span>
                            <span class="genre seinen" data-genre="seinen">Seinen</span>
                            <span class="genre harem" data-genre="harem">Harem</span>
                        </div>
                        <script src="/Gnrerender.js"></script>
   </div>
    <%- include("./include/footer.ejs") %>

    <!--
    <script type="module" src="animeInfo.js"></script>
     <script type="module" src="/Home.js"></script>
-->
    <script src="/home.js"></script>
    <script type="module" src="/ANiPlayer-render.js"></script>

</body>

</html>