<header class="header-div" >
    <a href="/" target="_blank" class="first-section-a">
        <div class="fs">
            <div class="logo-div" >
                <img class="logo" src="/Logo-1.png" alt="">
            </div>
            <div class="details">
                <p class="logoName">AniPub</p>
                <p class="slogan" style="margin-left: 1px; margin-top: -2px;">Yamate Kudasai</p>
            </div>
        </div>
    </a>
    <div class="Search-Box-Area">
        <input class="searchbox" type="text" placeholder="Search">
        <button class="search-button"></button>
       
    </div>

    <div class="ss">
        <button class="random">Random</button>

        
       <% if(auth === true) { %> 
        <button data-account="<%=ID%>" class="profile-icon" title="Profile Menu">
         <img style="width: 50px; height: 50px;  object-position: center;border-radius: 50%;" src="/ProfilePic/<%= Link %>" alt="">
        </button>
        <% } else if (auth === false ) {%>
            <button data-account="<%=ID%>" class="profile-icon" title="Profile Menu">
                <img style="width: 50px; height: 50px;  object-position: center ; border-radius: 50%;" src="<%= Link %>" alt="">
               </button>
        <% } else { %>     
         <button data-account="<%=ID%>" class="profile-icon" title="Profile Menu">
                <img style="width: 50px; height: 50px;  object-position: center ; border-radius: 50%;" src="/Shinbou.jpg" alt="">
               </button>
        <% } %> 
    </div>
</header>